*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
li{
    list-style: none;

}
a{
    text-decoration: none;
}
.container{
    max-width: 80%;
    margin: auto;
}

header{
    height: 8vh;
}
.logo img{
    width: 120px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li{
    margin-left: 3rem;
}
header ul li a{
    font-size: 1.2rem;
    font-weight: 400;
    /* color: white; */
    transition: 0.5s;
}
header ul li a:hover{
    color: #c1b086;
}
@media only screen and (max-width:786px){
    header ul{
        display: block;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
        box-shadow: 0 10px 27px rgba(0,0,0 ,0.05);
        z-index: 20;
    }
    header ul li{
        margin: 2.5rem 0;
    }
    header ul li a{
        color: black;
    }
    
}
.home .image img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.home .text{
    max-width: 50%;
    color: #000;
    margin: 20% 0 0 10%;
}
.home h1{
    font-size: 80px;
    font-weight: 400;

}
.home p{
    font-weight: 400;
    line-height: 25px;
    font-family: sens-serif;
    font-size: 17px;
    margin: 50px 0 0 50px;
}
button{
    padding: 20px 40px;
    background: none;
    outline: none;
    border: 2px solid white;
    border-radius: 50px;
    /* color: white; */
    margin-top: 20px;
}
.home button{
    margin-left: 50px;
}
.home .image-item{
    position: absolute;
    top: 20%;
    right: 20%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.home .image-item img{
    width: 140px;
    height: 94px;
    margin: 10px;
    transform: 0.5s;
}
.home .box .text{
    position: relative;
}
.home .box .text::after{
    position: absolute;
    content: '';
    font-size: 500px;
    top: 120%;
    font-weight: bold;
    opacity: 0.1;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.book{
    margin-top: 5%;
    width: 100%;
    height: 20vh;
    color: #fff;
}
.book .input{
    background: #3f9cc1;
    padding: 20px;
}
input{
    width: 100%;
    padding: 15px;
    border: 2px solid rgba(255,255,255 ,0.1);
    outline: none;
    background: #263760;
    margin-top: 20px;
    color: #fff;
}
::placeholder{
    color: white;
}
.book .search{
    width: 20%;

}
.book .search input{
    background: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
}